<div class="container">
	<%= erb :_filter %>

	<div class="results">
		<% @shortcuts.each do |shortcut_row| %>
		<div class="row-fluid">

	  	<div class="span12 hero-unit origin<%= Airport.find(shortcut_row.origin_airport_id).code %> destination<%= Airport.find(shortcut_row.destination_airport_id).code %> <%= shortcut_row.date.to_date %>">
	  		
	  		<div>From <%= Airport.find(shortcut_row.origin_airport_id).name %></div>
	  		<div>To <%= Airport.find(shortcut_row.destination_airport_id).name %></div>
	  		<div><%= shortcut_row.date %></div>
	  		<div><%= shortcut_row.price %></div>
	  	</div>
		</div>
		<% end %>
	</div>
</div>