<div class="container">
	<%= erb :_filter %>

	<div class="results">
		<% @shortcuts.each do |shortcut_row| %>
		<div class="row-fluid">
		  	<div class="span6 hero-unit">
		  		<div>From <%= Airport.find(shortcut_row[0].origin_airport_id).name %></div>
		  		<div>To <%= Airport.find(shortcut_row[0].destination_airport_id).name %></div>
		  		<div><%= shortcut_row[0].date %></div>
		  		<div><%= shortcut_row[0].price %></div>
		  	</div>
		  	<% if shortcut_row[1] %>
		  		<div class="span6 hero-unit">
		  			<div>From <%= Airport.find(shortcut_row[1].origin_airport_id).name %></div>
		  			<div>To <%= Airport.find(shortcut_row[1].destination_airport_id).name %></div>
		  			<div><%= shortcut_row[1].date %></div>
						<div><%= shortcut_row[1].price %></div>
					</div>
		  	<% end %>
		</div>
		<% end %>
	</div>
</div>